# /etc/systemd/system/cassandra.service

[Unit]
Description=Cassandra
After=network.target

[Service]
Environment=CASSANDRA_HOME={{cassandra_install_dir}} CASSANDRA_CONF={{cassandra_install_dir}}/conf
PIDFile={{cassandra_install_dir}}/cassandra.pid
User={{cassandra_user}}
Group={{cassandra_group}}
ExecStart={{cassandra_path }}/cassandra -f -p {{cassandra_install_dir}}/cassandra.pid
ExecStop=/bin/kill $MAINPID
StandardOutput=journal
StandardError=journal
Restart=always


[Install]
WantedBy=multi-user.target