[Unit]
Description=mysqld_exporter
After=network.target
[Service]
Type=simple
User=prometheus
Environment=DATA_SOURCE_NAME={{ mysqld_exporter_mysql_user }}:{{ mysqld_exporter_mysql_password }}@tcp(localhost:{{ mysqld_exporter_mysql_port }})/?loc=Local
ExecStart={{ mysqld_exporter_install_dir }}/mysqld_exporter \
 --web.listen-address=:{{ mysqld_exporter_port }} \
 --collect.info_schema.processlist \
 --collect.binlog_size
Restart=on-failure
[Install]
WantedBy=multi-user.target